@charset "UTF-8";

body {
   background-color: rgb(67, 130, 248);
   font: normal 16px arial;
   box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 18px;
  width: 500px;
  margin: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.616);
}
img {
  border-radius: 60%;
  margin: auto;
  padding: 10px;
}

footer {
font-style: italic;
text-align: center;
}